{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/login.css')}}">       
{% endblock %}
{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info d-flex justify-content-between w-100" role="alert">
                <div class="float-start">
                    Estás actualmente logeado como <b> {{ app.user.userIdentifier }}</b>
                </div>
                <div class="float-end">
                    <a class="btn btn-info btn-md" href="{{ path('app_prediccion') }}" role="button">
                        Predicción <i class="fa fa-home"></i></a>
                    </a>
                    <a class="btn btn-danger btn-md" href="{{ path('app_logout') }}" role="button">
                        Salir <i class="fa fa-sign-out"></i></a>
                    </a>
                </div>
            </div>
        {% endif %}

        <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-md-offset-5 col-md-10 ">
        <div class="form-login">
            <h4>Iniciar sesión.</h4>
            <label for="username">Correo</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control input-sm chat-input" placeholder="Correo" autocomplete="email" required autofocus>
            </br>
            <label for="password">Clave</label>
            <input type="password" name="_password" id="password" class="form-control input-sm chat-input" autocomplete="current-password" placeholder="clave" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </br>
            <div class="wrapper">
            <a class="btn btn-secondary btn-md" href="{{ path('app_register') }}" role="button">
                Registro <i class="fa fa-user"></i></a>
            </a>
            <button class="btn btn-primary btn-md" type="submit">
                Iniciar sesión <i class="fa fa-sign-in"></i></a>
            </button>
            </div>
        </div>
        </div>
        </div>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}
    </form>
{% endblock %}