{% extends 'base.html.twig' %}

{% block title %}Registro de usuario{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/login.css')}}">       
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-offset-5 col-md-10 ">
            <div class="form-login">
                <h4>Registro de usuario</h4>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}

                    {{ form_row(registrationForm.email) }}
                    </br>
                    {{ form_row(registrationForm.plainPassword) }}
                    </br>
                    {{ form_row(registrationForm.agreeTerms) }}
                    </br>

                    <div class="wrapper">
                    <a class="btn btn-secondary btn-md" href="{{ path('app_login') }}" role="button">
                        Inicio de sesión <i class="fa fa-sign-in"></i></a>
                    </a>
                    <button type="submit" class="btn btn-primary btn-md">
                        Guardar<i class="fa fa-user"></i></a>
                    </button>
                    </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>


    


{% endblock %}
