{% extends 'base.html.twig' %}
{% block head %}

  {% block title %}Predicción{% endblock %}

  {% block stylesheets %}
    {#<link rel='stylesheet' href='https://unpkg.com/leaflet@1.4.0/dist/leaflet.css'>#}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="stylesheet" href="{{asset('styles/style.css')}}">
    
  {% endblock %}

  {% block javascripts %}
    {#<script src="{{asset('js/leaflet.js')}}"></script>#}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src = "{{asset('js/d3.v7.min.js')}}"></script>
    <script src="{{asset('js/script.js')}}"></script>
    
  {% endblock %}

{% endblock %}

{% block bodyp %}
<div class="container alert alert-info d-flex justify-content-between w-100" role="alert">
  <div class="float-start">
    Estás actualmente logeado como <b> {{ app.user.userIdentifier }}</b>
  </div>           
  <div class="float-end">
      <a class="btn btn-danger btn-md" href="{{ path('app_logout') }}" role="button">
          Salir <i class="fa fa-sign-out"></i></a>
      </a>
  </div>
</div>

<div id="opciones-filtrado"></div>
<div id="opciones-filtrado-2">
    <!-- <label for="generos-filter" class="legend-item">Filtrar por géneros:</label>
    <select id="generos-filter">
        <option class="district-option">Todos</option>
        <option class="district-option">Apis</option>
        <option class="district-option">Bombus</option>
        <option class="district-option">Melipona</option>
        <option class="district-option">Trigona</option>
        <option class="district-option">Euglossa</option>
    </select> -->
</div>




<div id="opciones-filtrado-3">
  <label for="latitud-filter" class="legend-item">Latitud:</label>
  <input type="text" id="latitud-filter" name="latitud-name" class="coordenadas-filter"/>
  <label for="longitud-filter" class="legend-item">Longitud:</label>
  <input type="text" id="longitud-filter" name="longitud-name" class="coordenadas-filter"/>
  <button type="button" id="fnFiltroUbicacion" class="btn btn-primary">Ir</button>
</div>
<div id="opciones-filtrado-3"></div>

<div id="container">
    <div id="map"></div>
    <div id="avg-price-bar-chart"></div>
</div>
{% endblock %}